@import url(./reset.css);

*{
  box-sizing: border-box;
}

header{
  background-image: url(../img/Rectangle.png);
  background-size: cover;
  background-position: center;
}

body{
  color: #FFF;
  font-family: 'Inter' sans-serif;
  font-style: normal;
  position: relative;
}

.netflix{
  padding: 70px 33px 49px 80px;
}

.conteiner{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding-bottom: 114px;
}

.search-block, .user-photo{
  display: flex;
  justify-content: space-between;
}

.logo::after{
  content: "";
  display: inline-block;
  border-left: 1px solid #FFF;
  height: 28px;
  margin-left: 10px;
  margin-right: 10px;
}

.search-block .fa-solid{
  color: #FFF;
}

h3{
  font-size: 30px;
  font-weight: 500;
  display: inline;
  border-right: #FFF solid 1px;
}

.reviews{
  font-size: 32px;
}

.fa-solid{
  color: yellow;
}